.filter__heading {
    margin-bottom: 30px;
}

.filter__btn {
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.filter__error {
    margin-top: 30px;
}

label[for="date_from"], label[for="date_to"] {
    text-transform: uppercase;
}